
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "AdminLayout", "Admin")
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        @Html.Action("PartialSidebar", "AdminLayout", "Admin")
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="../index.html" class="logo">
                            <img src="/AdminTeması/assets/img/kaiadmin/logo_light.svg"
                                 alt="navbar brand"
                                 class="navbar-brand"
                                 height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->

                @Html.Action("PartialNavbar", "AdminLayout", "Admin")

            </div>

            <!-- End Navbar -->
        </div>

        <div class="container">
            <div class="page-inner">            
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                            <div class="card-header">
                                <div class="card-title">@ViewBag.tableAdı</div>
                            </div>
                            <div class="card-body">
                                
                                    @RenderBody()
                                                     
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>

        @Html.Action("PartialFooter", "AdminLayout", "Admin")
    </div>

    <!-- Custom template | don't include it in your project! -->
    
    <!-- End Custom template -->

    @Html.Action("PartialScripts", "AdminLayout", "Admin")

</body>
</html>
