
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("DefaultPartialHead", "Default")

<body>

    @Html.Action("Header", "Deals")

    @Html.Action("DealSearch", "Deals")

    @Html.Action("DealList", "Deals")

    @Html.Action("DefaultPartialReservation", "Default")

    @Html.Action("DefaultPartialFooter", "Default")

    @Html.Action("DefaultPartialScript", "Default")

</body>

</html>

