@model TravelProject.Models.Destination
@{
    ViewBag.Title = "CreateDestination";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}



<form method="post">



    <label>Şehir</label>
    @Html.DropDownListFor(x => x.CityId, (List<SelectListItem>)ViewBag.city, new { @class = "form-control" })
    <br />

    <label>Tur Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Tur Başlangıç Noktası</label>
    @Html.TextBoxFor(x => x.TourStartLocationName, new { @class = "form-control" })
    <br />
    <label>Harita Lokasyonu(GoogleMap)</label>
    @Html.TextBoxFor(x => x.TourStartMapLocation, new { @class = "form-control" })
    <br />
    <label>Gün-Gece</label>
    @Html.TextBoxFor(x => x.DayNight, new { @class = "form-control" })
    <br />
    <label>Slider Görseli URL</label>
    @Html.TextBoxFor(x => x.SliderImageUrl, new { @class = "form-control" })
    <br />
    <label>Slider Açıklama</label>
    @Html.TextBoxFor(x => x.SliderDescription, new { @class = "form-control" })
    <br />
    <label>Liste Görseli URL</label>
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    <br />
    <label>Tur Fiyatı</label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 5, 0, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Tur Rotası Oluştur</button>
</form>