@model List<TravelProject.Models.Destination>
<div class="visit-country">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h2>Popüler Tur ve Sayahat Rotalarımız</h2>
                    <p>Dünyanın Dört Bir Alanında Uzman Rehberler Eşliğinde Seyahate Çıkmaya Hazır Mısın?</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-12">
                    <div class="items">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="@item.Image" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>@item.City.CityName</h4>
                                                <span>@item.City.Country.CountryName</span>
                                                <div class="main-button">
                                                    <a href="/About/Index/@item.DestinationId">Tüm Detayları Görün</a>
                                                </div>
                                                <p>@item.Description </p>
                                                <ul class="info">
                                                    <li><i class="fa fa-user"></i> @item.DayNight Gün @(item.DayNight-1) Gece</li>
                                                    <li><i class="fa fa-globe"></i> @item.Price ₺</li>
                                                    <li><i class="fa fa-home"></i>@item.Capacity Kişi</li>
                                                </ul>
                                                <div class="text-button">
                                                    <a href="about.html">Rehberi Görün <i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-12">
                <ul class="page-numbers">
                    <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Default", new { page = ViewBag.CurrentPage - 1 })">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Default", new { page = i })">@i</a>
                        </li>
                    }
                    <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Default", new { page = ViewBag.CurrentPage + 1 })">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Sayfa yüklendiğinde kaydırma pozisyonunu kontrol et
        if (sessionStorage.scrollPosition) {
            window.scrollTo(0, sessionStorage.scrollPosition);
        }
    });

    window.addEventListener("beforeunload", function () {
        // Sayfa kapanmadan önce kaydırma pozisyonunu sakla
        sessionStorage.scrollPosition = window.scrollY;
    });</script>
