
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

     @Html.Action("DefaultPartialHead", "Default")

<body>

    @Html.Action("DefaultPartialHeader", "Default")
 
    @Html.Action("DefaultPartialSlider", "Default")

    @Html.Action("DefaultPartialCountry","Default")

    @Html.Action("DefaultPartialReservation","Default")

    @Html.Action("DefaultPartialFooter", "Default")

    @Html.Action("DefaultPartialScript", "Default")

</body>

</html>

<script>document.addEventListener("DOMContentLoaded", function () {
        // Sayfa yüklendiğinde kaydırma pozisyonunu kontrol et
        if (sessionStorage.scrollPosition) {
            window.scrollTo(0, sessionStorage.scrollPosition);
        }
    });

    window.addEventListener("beforeunload", function () {
        // Sayfa kapanmadan önce kaydırma pozisyonunu sakla
        sessionStorage.scrollPosition = window.scrollY;
    });</script>