
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

     @Html.Action("DefaultPartialHead", "Default")

<body>

    @Html.Action("DefaultPartialHeader", "Default")
 
    @Html.Action("DefaultPartialSlider", "Default")

    @Html.Action("DefaultPartialCountry","Default")

    @Html.Action("DefaultPartialReservation","Default")

    @Html.Action("DefaultPartialFooter", "Default")

    @Html.Action("DefaultPartialScript", "Default")

</body>

</html>
