@model List<TravelProject.Models.Destination>
@foreach (var item in Model)
{

    <div class="about-main-content" style=" background-image:url('@item.SliderImageUrl')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="blur-bg" style=" background: url('@item.SliderImageUrl') no-repeat center center fixed;"></div>
                        <h4>@item.City.CityName Şehrini Keşfetmeye Hazır Mısın?</h4>
                        <div class="line-dec"></div>
                        <h2>@item.City.CityName Tur Rehberine Hoşgeldin!</h2>
                        <p>@item.SliderDescription</p>
                        <div class="main-button">
                            <a href="reservation.html">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}