
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("Head", "About")

<body>

    @Html.Action("Header", "About")

    @Html.Action("Banner", "About")

    @Html.Action("Cities", "About")

    @Html.Action("Detail", "About")

    @Html.Action("DefaultPartialReservation", "Default")

    @Html.Action("Footer", "About")

    @Html.Action("Script", "About")

</body>

</html>

