
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("DefaultPartialHead", "Default")

<body>

    @Html.Action("Header", "Contact")

    @Html.Action("PartialContact", "Contact")

    @Html.Action("DefaultPartialReservation", "Default")

    @Html.Action("DefaultPartialFooter", "Default")

    @Html.Action("DefaultPartialScript", "Default")

</body>

</html>

