@model TravelProject.Models.Admin
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post">

    @Html.HiddenFor(x => x.AdminId)
    <label>Adı</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />

    <label>Soyadı</label>
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    <br />

    <label>Email Adresi</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />

    <label>Kullanıcı Adınız</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    <label>Şifreniz</label>
    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    <br />
    <label>Mevcut Görsel</label>
    <label>
        <span>@Model.ImageUrl</span>
    </label>
    <br />
    <img style="width: 20%; height: 20%;" src="@Model.ImageUrl" alt="@Model.ImageUrl" class="img-thumbnail">
    <br />


    <div class="form-group ">
        <div class="custom-file ">
            <input type="file" class="custom-file" id="customFile" name="ImageUrl"">
            <label class="custom-file-label" for="customFile">@Model.ImageUrl</label>
        </div>
    </div>

    <button class="btn btn-primary">Bilgileri Güncelle</button>
</form>


